#Wed, 22 May 2013 10:10:43 +0300
app.name=YtVideosDemo

app.framework=touch

app.classpath=${app.dir}/app.js,${app.dir}/app

app.build.dir=${workspace.build.dir}/${app.name}

app.cmd.version=3.1.1.274
app.id=53341839-d3f2-4afa-a7b3-b1ed8e7423eb
